<h2>Email Delivery</h2>
<% if @sent_email.errors.any? %>
  <p>Your email template is invalid:</p>
  </br>
  <% @sent_email.errors.full_messages.each do |msg| %>
    <%= msg %>
    </br>
  <% end %>
<% end %>

<%= form_for @sent_email do |f| %>
  <%= f.label 'Sender Name:' %>
  <%= f.text_field :reply_to_name, value: "#{current_user.first_name} #{current_user.last_name}" %>
  </br>
  <%= f.label 'Sender Email:' %>
  <%=f.select :sender_id, options_for_select(@possible_senders.collect{ |u| [u.email, u.id] }) %>
  </br>
  <%= f.label 'Choose Your Email Template:' %>
  <%= f.select(:email_template_id, options_for_select(EmailTemplate.all.collect{ |u| [u.label, u.id] })) %>
  </br>
  <%= f.label 'Recipients:' %>
  <%= select_tag :recipients, options_for_select(@groups, :selected => "Everyone") %>

  <%= f.submit %>
<% end %>
