<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @program.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @program.end_date %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
