<%= simple_form_for(@user, url: verification_path(@user)) do |f| %>
  <div class="row">
    <div class="col-6">
      <%= f.input :email %>
      <%= f.input :salutation, collection: User::HONORIFICS, include_blank: false %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :maiden_name, label: "Maiden name (if applicable)" %>
    </div>
    <div class="col-6">
      <%= f.input :country, priority: ["US"] %>
      <%= f.input :street_address %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip_code %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-6">
      <%= f.input :facebook_username %>
      <%= f.input :twitter_handle %>
      <%= f.input :instagram_username %>
    </div>
    <div class="col-6">
      <%= f.input :linkedin_username %>
      <%= f.input :pinterest_name %>
      <%= f.input :tumblr_name %>
    </div>
  </div>
  <%= f.button :submit, "Verify Information" %>
<% end %>
