<div class="password mx-auto">
  <%= simple_form_for(@user, url: verification_path(@user)) do |f| %>
    <%= f.input :password, label: 'New Password' %>
    <%= f.button :submit, "Save", class: "btn btn-block" %>
  <% end %>
</div>

<div class="preferences-navigation-footer">
  <%= link_to "Cancel", root_path, {class: 'btn btn-danger btn-cancel', method: 'get'} %>
  <%= link_to "Skip to Privacy", edit_user_profile_path(@user, state: 'privacy'), {class: 'btn btn-primary btn-skip', method: 'get'} %>
</div>
