<div class="profilePhoto mx-auto">
  <div class="profilePhoto-avatar">
    <% if @user.profile_photo %>
    <%= image_tag(@user.profile_photo.url) %>
    <% end %>
  </div>

  <%= form_for @user, url: update_user_profile_path(@user), html: { multipart: true } do |f| %>
  <%= f.file_field :profile_photo, required: true %> <br /><br />
  <%= f.submit "Upload Photo", class: 'btn btn-primary btn-block' %>
  <% end %>
</div>

<div class="preferences-navigation-footer">
  <%= link_to "Cancel", root_path, {class: 'btn btn-danger btn-cancel', method: 'get'} %>
  <%= link_to "Skip to Password", edit_user_profile_path(@user, state: 'password'), {class: 'btn btn-primary btn-skip', method: 'get'} %>
</div>
