<% is_index = action_name == "index" %>
<form id="search-form" class="form-inline mb-2 justify-content-center" action="<%= is_index ? "/profiles" : "/users" %>" accept-charset="UTF-8" method="get">
 <div class="form-group">
   <label class="sr-only" for="exampleInputEmail1">Name</label>
   <div class="input-group mb-2 mr-sm-2 mb-sm-0">
     <input type="text" name="search" id="search" class="form-control" aria-describedby="search" placeholder="Name or Email">
  </div>
 </div>

 <div class="form-group mr-2">
   <label class="sr-only" for="years">Year</label>
   <select class="form-control" id="years" name="year">
     <option value=""></option>
     <%= years.each do |year| %>
        <option> <%= year %> </option>
     <% end %>
   </select>
 </div>
 <div class="form-group mr-2">
   <label class="sr-only" for="exampleSelect1">Position</label>
   <select class="form-control" id="positions" name="position">
     <option value=""></option>
     <%= positions.each do |position| %>
        <option> <%= position.name %> </option>
     <% end %>
   </select>
 </div>
 <button type="submit" class="btn btn-primary ml-2">Search</button>
<%= link_to 'Clear',
            is_index ? user_profiles_path : list_users_path,
            class: "btn btn-outline-success ml-2" %>
</form>
