<div class="grapevine-social-buttons">
  <% if user.facebook_username.present? %>
    <%= link_to("https://www.facebook.com/#{user.facebook_username}", class: "btn") do %>
      <button class="btn">
        <i class="fa fa-facebook"></i>
      </button>
    <% end %>
  <% end %>

  <% if user.twitter_handle.present? %>
    <%= link_to("https://www.twitter.com/#{user.twitter_handle}", class: "btn") do %>
      <button class="btn">
        <i class="fa fa-twitter"></i>
      </button>
    <% end %>
  <% end %>

  <% if user.instagram_username.present? %>
    <%= link_to("https://www.instagram.com/#{user.instagram_username}", class: "btn") do %>
      <button class="btn">
        <i class="fa fa-instagram"></i>
      </button>
    <% end %>
  <% end %>

  <% if user.linkedin_username.present? %>
    <%= link_to("https://www.linkedin.com/#{user.linkedin_username}", class: "btn") do %>
      <button class="btn">
        <i class="fa fa-linkedin"></i>
      </button>
    <% end %>
  <% end %>

  <% if user.pinterest_name.present? %>
    <%= link_to("https://www.pinterest.com/#{user.pinterest_name}", class: "btn") do %>
      <button class="btn">
        <i class="fa fa-pinterest"></i>
      </button>
    <% end %>
  <% end %>

  <% if user.tumblr_name.present? %>
    <%= link_to("https://www.tumblr.com/#{user.tumblr_name}", class: "btn") do %>
      <button class="btn">
        <i class="fa fa-tumblr-square"></i>
      </button>
    <% end %>
  <% end %>
</div>