<%= render 'layouts/nav' %>
<div class="preferences">
  <div class="preferences-sidebar">
    <%= link_to edit_user_profile_path(current_user, state: 'general') do %>
      <h4 class="<%= "active" if params[:state].in?([nil, 'general']) %>"> General</h4>
    <% end %>
    <%= link_to edit_user_profile_path(current_user, state: 'photo') do %>
      <h4 class=" <%= "active" if params[:state] == "photo" %>">Photo</h4>
    <% end %>
    <%= link_to edit_user_profile_path(current_user, state: 'password') do %>
      <h4 class=" <%= "active" if params[:state] == "password" %>">Password</h4>
    <% end %>
    <%= link_to edit_user_profile_path(current_user, state: 'privacy') do %>
      <h4 class=" <%= "active" if params[:state] == "privacy" %>">Privacy</h4>
    <% end %>
  </div>

  <div class="preferences-form">
    <% if params[:state] == 'privacy' %>
      <%= render "privacy" %>
    <% elsif params[:state] == 'photo' %>
      <%= render "photo" %>
    <% elsif params[:state] == 'password' %>
      <%= render "password" %>
    <% else params[:state] == 'general' %>
      <%= render "general" %>
    <% end %>
  </div>

</div>
