<%= render 'layouts/nav' %>
<div class="preferences">
  <h1>
    <% if @user.privacy_settings["personal"]["name"] || @user == current_user || current_user.admin? %>
      Editing <%= @user.friendly_name %>'s profile
    <% end %>
    <% if current_user.admin? || current_user == @user %>
      <%= link_to '<button type="button" class="btn btn-secondary">View profile</button>'.html_safe, user_profile_path(current_user) %>
    <% end %>
  </h1>
  <div class="preferences-stepper">
    <%= link_to edit_user_profile_path(current_user, state: 'general') do %>
      <%= image_tag("yellow-arrowhead.svg", class: params[:state].in?([nil, "general"]) ? "active" : "") %>
    <% end %>
    <%= link_to edit_user_profile_path(current_user, state: 'photo') do %>
      <%= image_tag("dark-green-arrowhead.svg", class: params[:state] == "photo" ? "active" : "") %>
    <% end %>
    <%= link_to edit_user_profile_path(current_user, state: 'password') do %>
      <%= image_tag("medium-green-arrowhead.svg", class: params[:state] == "password" ? "active" : "") %>
    <% end %>
    <%= link_to edit_user_profile_path(current_user, state: 'privacy') do %>
      <%= image_tag("light-green-arrowhead.svg", class: params[:state] == "privacy" ? "active" : "") %>
    <% end %>
  </div>

  <div class="preferences-form w-75 mx-auto">
    <% if params[:state] == 'privacy' %>
      <%= render "privacy" %>
    <% elsif params[:state] == 'photo' %>
      <%= render "photo" %>
    <% elsif params[:state] == 'password' %>
      <%= render "password" %>
    <% else params[:state] == 'general' %>
      <%= render "general" %>
    <% end %>
  </div>

</div>
