<%= render 'layouts/nav' %>
<div class="grapevine-container">
  <h1 class="grapevine-title mb-4">The Grapevine</h1>
  <div class="grapevine-search mb-4">
    <%= render 'search', years: @years %>
  </div>
  <div class="list-group grapevine-user">
    <% @users.each do |user| %>
    <%= link_to user_profile_path(user), class: "list-group-item list-group-item-action" do %>
      <div class="grapevine-user-main">
        <div class="grapevine-user-main-photo">
          <%= image_tag(user.profile_photo) %>
        </div>
        <div class="grapevine-user-main-details">
          <div class="grapevine-user-main-name">
            <h5 class="mb-1 grapevine-user-name"><%= "#{user.first_name} \"#{user.nickname}\" #{user.last_name} (fm. #{user.maiden_name})"%></h5>
          </div>
          <div class="grapevine-user-main-info">
            <li><%= user.phone %></li>
            <li><%= user.email %></li>
            <li><%= user.street_address %></li>
            <li><%= "#{user.city}, #{user.state}" %></li>
            <li><%= user.country %></li>
          </div>
        </div>
        <%= render 'social_media' %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
