<%= render 'layouts/nav' %>
<div class="profile-container">
  <div class="profile-info">
    <h1>
      <% if @user.privacy_settings["personal"]["name"] || @user == current_user || current_user.admin? %>
        <%= @user.friendly_name %>'s Profile Page
      <% end %>
      <% if current_user == @user %>
        <%= link_to '<button type="button" class="btn btn-secondary">Update Info</button>'.html_safe, edit_user_profile_path(current_user) %>
      <% end %>
    </h1>

    <div class="list-group greenhouse-user">
      <div class="d-flex w-100 greenhouse-user-main">
        <%= image_tag(@user.profile_photo) %>
        <%= render 'social_media_buttons', user: @user %>
      </div>
      <p class="mb-1">
        <% if @user.privacy_settings["personal"]["phone"] || @user == current_user || current_user.admin? %>
          <br><%= @user.phone %>
        <% end %>
        <% if @user.privacy_settings["personal"]["email"] || @user == current_user || current_user.admin? %>
          <br><%= @user.email %>
        <% end %>
        <br>
        <% if @user.privacy_settings["personal"]["name"] || @user == current_user || current_user.admin? %>
          <br><%= display_name(@user) %>
        <% end %>
        <% if @user.privacy_settings["personal"]["address"] || @user == current_user || current_user.admin? %>
          <br><%= "#{@user.street_address}" %>
          <br><%= "#{@user.city}, #{@user.state} #{@user.country}" %>
        <% end %>
      </p>

      <%= render 'positions_held', user: @user %>
    </div>
  </div>
</div>
