<div class="responsive">
  <div class="galleryimg">
    <a target="_blank" href="#">
      <%= image_tag("coverphoto.jpg") %>
    </a>
  </div>
</div>
<div class="responsive">
  <div class="galleryimg">
    <a target="_blank" href="#">
      <%= image_tag("coverphoto2.jpg") %>
    </a>
  </div>
</div>
<div class="responsive">
  <div class="galleryimg">
    <a target="_blank" href="#">
      <%= image_tag("coverphoto3.jpg") %>
    </a>
  </div>
</div>
<div class="responsive">
  <div class="galleryimg">
    <a target="_blank" href="#">
      <%= image_tag("coverphoto4.jpg") %>
    </a>
  </div>
</div>
<div class="clearfix"></div>
<div class="responsive">
  <div class="galleryimg">
    <a target="_blank" href="#">
      <%= image_tag("coverphoto5.jpg") %>
    </a>
  </div>
</div>
<div class="responsive">
  <div class="galleryimg">
    <a target="_blank" href="#">
      <%= image_tag("coverphoto6.jpg") %>
    </a>
  </div>
</div>
