<div class="gallery">
  <div class="gallery-linedetail">
  </div>

  <%= render 'announcements' %>

  <div class="gallery-container">
    <div class="gallery-left">
      <div class="gallery-photos">
        <h3><%= link_to 'The Greenhouse', posts_path %></h3>

      <div class="row">
        <%= form_tag(posts_path, :method => "get", id: "search-tags-form") do %>
          <%= text_field_tag :tag, params[:tag],
                             placeholder: "Search by tag",
                             class: "gallery-search-box" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <%= link_to 'Clear', posts_path, class: "btn btn-outline-success" %>
          <%= link_to "<span class='fa fa-plus'></span><span class='fa fa-camera'></span>".html_safe,
                      new_post_path,
                      class: "btn btn-outline-secondary gallery-additional-button" %>
          <%= link_to "Greenhouse viewer".html_safe,
                         post_path(Post.first),
                         class: "btn btn-outline-secondary gallery-additional-button" if Post.any? %>
        <% end %>
      </div>

        <div class="gallery-photos-tags">
          Filter by popular tags: <% @tags.each do |t| %>
            <%= link_to t.name, (root_path + "?tag=#{t.name}") %>
          <% end %>
        </div>
        <%= render 'photos' %>
      </div>
      <div class="gallery-socialFeed">
        <%= render 'social_feed' %>
      </div>
    </div>

    <div class="gallery-right">
      <div class="gallery-right-boxes">
        <h5><%= link_to "Calendar",
                        "https://www.doublehranch.org/calendar",
                        target: "_blank" %></h5>
        Check out our awesome upcoming events for Double H Ranch! <br />
        <%= link_to '<button type="button" class="btn btn-primary btn-block">Browse</button>'.html_safe,
                    'https://www.doublehranch.org/calendar',
                    target: "_blank" %>
      </div>
      <div class="gallery-right-boxes">
        <h5><%= link_to "Volunteer",
                        "https://www.doublehranch.org/volunteer",
                        target: "_blank" %></h5>
        Every set of hands make the work lighter and the applause louder.
        Whether you have a day, weekend, week or an entire summer,
        our camp offers a range of volunteer opportunities for you to make a difference
        by giving your time and talent.<br />
        <%= link_to '<button type="button" class="btn btn-primary btn-block">Apply</button>'.html_safe,
                    'https://www.doublehranch.org/volunteer',
                    target: "_blank" %>
      </div>
      <div class="gallery-right-boxes">
        <h5><%= link_to "Donate",
                        "https://www.doublehranch.org/donate", target: "_blank" %></h5>
        Your support is what enables us to continue providing our year-round programs to our campers.
        Together, there’s no telling how many lives we can touch and how many stories we can
        inspire as we continue to keep the promise to our campers that the
        Double H Ranch will be here forever. <br />
        <%= link_to '<button type="button" class="btn btn-primary btn-block">Donate</button>'.html_safe,
                    'https://www.doublehranch.org/donate',
                    target: "_blank" %>
      </div>
    </div>
  </div>
</div>
