<div class="gallery">
  <div class="gallery-linedetail">
  </div>
  <div class="gallery-left">
    <div class="gallery-photos">
      <h3>Photos Gallery <%= link_to '+ Upload Photo', new_post_path, class: "gallery-photos-add" %></h3>
      <div class="gallery-photos-tags">
        Filter by popular tags: <% @tags.each do |t| %>
          <%= link_to t.name, (root_path + "?tag=#{t.name}") %>
        <% end %>
      </div>
      <%= render 'photos' %>
    </div>
  </div>
  <div class="gallery-right">
    <div class="gallery-events gallery-right-boxes">
      <h5>Calendar</h5>
       Cupcake ipsum dolor sit amet soufflé bonbon toffee carrot cake. Sweet sesame snaps icing tiramisu jelly wafer. Bear claw apple pie marzipan chocolate bar carrot cake caramels biscuit.<br />
      <%= link_to '<button type="button" class="btn btn-primary btn-block">Events Calendar</button>'.html_safe, 'https://www.doublehranch.org/calendar' %>
    </div>
    <div class="gallery-volunteer gallery-right-boxes">
      <h5>Volunteer</h5>
       Cupcake ipsum dolor sit amet soufflé bonbon toffee carrot cake. Sweet sesame snaps icing tiramisu jelly wafer. Bear claw apple pie marzipan chocolate bar carrot cake caramels biscuit.<br />
       <%= link_to '<button type="button" class="btn btn-primary btn-block">Volunteer Application</button>'.html_safe, 'https://www.doublehranch.org/volunteer' %>
    </div>
    <div class="gallery-donate gallery-right-boxes">
      <h5>Donate</h5>
      Lollipop powder gummies. Icing pastry donut. Cake marshmallow apple pie pie sugar plum dessert sugar plum toffee. <br />
      <%= link_to '<button type="button" class="btn btn-primary btn-block">Donate</button>'.html_safe, 'https://www.doublehranch.org/donate' %>
    </div>
  </div>
</div>
