<%= render 'layouts/nav' %>
<div class="home">
  <div class="home-hero">
    <div class="home-hero-user">
      <div class="home-hero-userpic">
        <% if current_user.profile_photo %>
          <%= image_tag(current_user.profile_photo.url) %>
        <% end %>
      </div>
      <div class="home-hero-username">
        <h1>Hi, <%= @name %>!</h1> <br />
          <%= link_to '<button type="button" class="btn btn-secondary">Update Info</button>'.html_safe, edit_user_profile_path(current_user) %>
        <br />
      </div>
    </div>
  </div>
  <%= render 'gallery' %>
</div>
