<%= simple_form_for(@positions_held) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user,
                      label_method: lambda { |user| display_name(user) },
                      collection: User.all.order(:last_name, :nickname, :first_name, :email)
    %>
    <%= f.association :position,
                      collection: Position.all.order(:name)  %>
    <%= f.association :program,
                      collection: Program.all.order(:name) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%#= link_to "New Position", new_position_path, {class: 'btn btn-outline-success', method: 'get'} %>
    <%#= link_to "View user's profile", edit_user_profile_path(f.object.user_id), class: "btn btn-optional" %>
  </div>
<% end %>
