<%= render 'layouts/nav' %>

<p>
  <strong>User:</strong>
  <%= @positions_held.user.friendly_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @positions_held.position.name if @positions_held.position %>
</p>

<p>
  <strong>Program:</strong>
  <%= @positions_held.program.name if @positions_held.program %>
</p>

<%= link_to 'Edit', edit_positions_held_path(@positions_held) %> |
<%= link_to 'Back', positions_helds_path %>
