<div class="signin">
  <div class="signin-container">
    <div class="signin-container-panelLeft">
      <h1 class="text-center">Sign In</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "d-flex flex-column"}) do |f| %>
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, :class => "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>

      <%= f.submit "Log in", :class => "btn btn-primary align-self-center"%>
      <%= render "devise/shared/links" %>
      <% end %>
    </div>

    <div class="signin-container-panelRight hidden-sm-down">
      <div class="dialog">
        <h1>Welcome to the Orchard.</h1>
        <p>This is a place designed for you! Our goal is to help you get connected and stay connected to Double H, as well as the many wonderful people you met along the way. The Orchard will serve as a place to learn about upcoming events, reach out to your old roommate or that favorite Unit Leader, as well as be a part of the magic that happens in programs throughout the year.
          The years may have passed, but the memories of a summer spent at camp lives on in all of us and reminds us all the importance of Double H! Visit the Orchard often and always share with us any ideas!
        </p>
      </div>
      <div class="filter-img">
      </div>
    </div>
  </div>
</div>
