<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post, html: { multipart: true } do |f| %>
  <%= f.file_field :photos, multiple: 'multiple', required: true %> <br /><br />
  <%= f.label :caption %>
  <%= f.text_field :caption %> <br /><br />
  <%= f.label :tag_list, "Tags (comma separated)" %>
  <%= f.text_field :tag_list, value: f.object.tag_list.to_s %> <br /><br />
  <%= f.submit "Create #{Post.model_name.human.capitalize}", class: 'btn btn-primary btn-block' %>
<% end %>
