<p>post form</p>

<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post, html: { multipart: true } do |f| %>
  <%= f.file_field :photos, multiple: 'multiple', required: true %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.label :tag_list, "Tags (comma separated)" %>
  <%= f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ' %> 
  <%= f.submit "Create Post" %>
<% end %>
