<%= render 'layouts/nav' %>

<h1>Hidden Posts</h1>

<%= link_to 'Back to displayed posts', posts_path if current_user.admin? %>

<% @posts.each do |post| %>
    <p><%= link_to (image_tag post.photo.url(:thumb)), post_path(post) %></p>
    <p><%= link_to post.caption, post_path(post) %></p>
    <p><%= link_to 'Unhide', unhide_post_path(post.id), method: :post if current_user.admin? %></p>
<% end %>
