<%= render 'layouts/nav' %>
<div class="gallery-photos">

  <div class="text-center gallery-page-header">
    <h3><%= Post.model_name.human.pluralize %></h3>
  </div>

  <div class="row">
    <%= form_tag(posts_path, :method => "get", id: "search-tags-form") do %>
      <%= text_field_tag :tag,
                         params[:tag],
                         placeholder: "Search by tag",
                         class:"gallery-search-box" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to 'Clear', posts_path, class: "btn btn-outline-success" %>
      <%= link_to "<span class='fa fa-plus'></span><span class='fa fa-camera'></span>".html_safe,
                  new_post_path,
                  class: "btn btn-outline-secondary gallery-add-photo-button" %>
    <% end %>
  </div>

  <div class="gallery-photos-tags">
      Filter by popular tags: <% @tags.each do |t| %>
          <%= link_to t.name, (root_path + "?tag=#{t.name}") %>
      <% end %>
  </div>

  <% @posts.each do | post | %>
  <div class="responsive">
      <div class="galleryimg text-center">
          <%= link_to image_tag(post.photo.url(:medium)), post %>
          <%= link_to post.caption, post_path(post) %></p>
          <% if post.tags.any? %>
            <p>Tags: <%= raw(post.tag_list.map { |t| link_to t, tag_path(t)  }.join(', ')) %></p>
          <% end %>
          <% if current_user.admin? %>
              <p><%= link_to 'Hide', hide_post_path(post.id), method: :post, class: "btn btn-warning" %></p>
          <% end %>
          </a>
      </div>
  </div>
  <% end %>
  <div class="clearfix"></div>
</div>

<% if current_user.admin? %>
    <p><%= link_to "Manage hidden #{Post.model_name.human.pluralize}", hidden_posts_path, class: "btn btn-warning" %></p>
<% end %>
