<div class="post-container">
  <%= image_tag @post.photo.url %>
  <div class="post-caption">
    <%= @post.caption %>
  </div>
  <span class="post-tags">
    <%= @post&.tag_list %>
  </span>
  <div class="post-comments">
    <%= render @post.comments %>
    <div class="post-comments-form">
      <%= render 'comment_form' %>
    </div>
  </div>
</div>
