<h2>Create a new Email Template</h2>
<%= form_for @email_template do |f| %>
  <%= f.label 'Label' %>
  <%= f.text_field :label %>
  </br>
  <%= f.label 'Subject' %>
  <%= f.text_field :subject %>
  </br>
  <%= f.label 'Email Body' %>
  <%= f.text_area :body, size: "50x30" %>
  </br> 
  <%= f.submit 'Create email template' %>
<% end %>
